@model SkoButik.Models.Contact

@{
    ViewBag.Title = "Contact Us";
}


<div style="text-align: center;">
    <h2>Contact Us</h2>

    <p>Please feel free to reach out to us using the information below:</p>

    <p><strong><i class="bi bi-telephone"></i> Phone:</strong> @Model.Phone</p>
    <p><strong><i class="bi bi-envelope"></i> Email:</strong> @Model.Email</p>
</div>
