@{
    ViewData["Title"] = "Not Logged In";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>You must be logged in to place an order</h2>
            <p>Please <a asp-area="Identity" asp-page="/Account/Login">log in</a> to continue.</p>
            <p>If you don't have an account, please <a asp-area="Identity" asp-page="/Account/Register">register</a>.</p>
        </div>
    </div>
</div>